:root {
  --background: #ffffff;
  --text-basic: #333333;
  --heading: #000000;
  --button-basic: #756157;
  --button-additional: #81b3db;
  --buttons-neutral: #f2f2f2;
  --background-additional: var(--button-additional);
  --background-substitute: #bbc6cf;
  --background-block: rgba(131, 179, 211, 0.12);
  --text-additional: var(--background);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-basic);
  background-color: var(--background);
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.button {
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--background);
  background-color: var(--button-basic);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--background-additional);
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-submit,
.button-favourites {
  background-color: var(--background-additional);
}

.button-reset {
  background-color: transparent;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--heading);
  text-transform: uppercase;
}

.title-small {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: var(--heading);
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  margin-right: 30px;
}

.navigation {
  display: flex;
}

.navigation-list {
  width: 450px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--heading);
  text-decoration: none;
  text-align: center;
}

.user-navigation {
  width: 300px;
  margin-left: auto;
}

.hero {
  position: relative;
  color: var(--background);
  background-image: url("../images/background.jpg");
  background-color: var(--background-substitute);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/svg/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 1200px;
}

.features-title {
  width: 51%;
  margin: 0 auto;
  text-align: center;
}

.features-text {
  color: var(--text-basic);
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features-item {
  text-align: center;
}

.features-item:first-child,
.features-item:last-child {
  color: var(--text-additional);
  background-color: var(--background-additional);
}

.features-item:nth-child(3) {
  background-color: var(--background-block);
}

.features-item:first-child .features-item-title,
.features-item:last-child .features-item-title {
  color: inherit;
}

.services-slogan {
  margin: 0 auto;
  text-align: center;
}

.services-text {
  text-align: center;
}

.services-list {
  display: flex;
  width: 100%;
}

.services-item {
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: var(--background-block);
}

.services-item-title {
  color: var(--heading);
}

.search {
  text-align: center;
}

.search-description {
  margin: 0 auto;
}

.subscribe {
  color: var(--text-additional);
  background-image: url("../images/Subscribe.jpg");
  background-color: var(--background-additional);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-inner {
  color: var(--text-basic);
  background-color: var(--background);
  background-image: none;
}

.subscribe-title {
  color: var(--text-additional);
}

.subscribe-inner .subscribe-title {
  color: var(--heading);
}

.subscribe-inner .button-subscribe {
  background-color: var(--background-additional);
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer-socials {
  width: 190px;
}

.call-us-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--heading);
  text-decoration: none;
}

.filter-wrapper {
  color: var(--text-additional);
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-color: var(--background-substitute);
  background-size: cover;
}

.header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  width: 100%;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--text-additional);
  text-decoration: none;
}

.form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.form-fieldset {
  width: 150px;
  margin-right: 70px;
}

.form-buttons-wrapper {
  margin-left: auto;
}

.form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-item label {
  line-height: 23px;
}

.hotels-sorting-wrapper {
  display: flex;
}

.hotels-sorting-result {
  width: 350px;
}

.hotels-sorting-select {
  width: 292px;
  margin-right: 70px;
  margin-left: auto;
}

.hotels-sorting-view {
  margin-left: auto;
}

.sorting-view {
  width: 160px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 340px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--heading);
}

.product-card-table dd {
  text-align: right;
}

.product-card-rating-text {
  font-size: 16px;
  line-height: 20px;
  background-color: var(--buttons-neutral);
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  display: none;
  width: 60px;
  color: var(--text-additional);
  background-color: var(--background-additional);
  text-align: center;
}

.pagination-item-active {
  display: block;
}

.pagination-item-current {
  background-color: var(--buttons-neutral);
  color: var(--heading);
}

.pagination-item-inactive {
  color: var(--heading);
  background-color: var(--background);
}

.pagination-link {
  color: inherit;
  text-decoration: none;
}
