:root {
  --background: #ffffff;
  --text-color-active: rgba(255, 255, 255, 0.3);
  --text-basic: #333333;
  --heading: #000000;
  --button-basic: #756157;
  --underline: #756257;
  --button-additional: #81b3db;
  --button-additional-hover: #68a2c2;
  --button-additional-active: #82b3d3;
  --buttons-neutral: #f2f2f2;
  --button-select: #7db54f;
  --button-selected-hover: #6c9e42;
  --button-basic-hover: #615048;
  --background-additional: var(--button-additional);
  --background-substitute: #bbc6cf;
  --background-block: rgba(131, 179, 211, 0.12);
  --box-shadow: rgba(0, 0, 0, 0.15);
  --decorative-line: rgba(0, 0, 0, 0.3);
  --text-additional: var(--background);
  --card-border: #e5e5e5;
  --button-disabled: var(--card-border);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  background-color: var(--buttons-neutral);
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-basic);
  background-color: var(--background);
  box-shadow:
    0 0 15px var(--box-shadow),
    0 0 15px var(--box-shadow);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 9px 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  word-break: break-all;
  color: var(--background);
  background-color: var(--button-basic);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  background-color: var(--button-basic-hover);
}

.button:active {
  color: var(--text-color-active);
  background-color: var(--button-basic);
}

.button:disabled {
  background-color: var(--button-disabled);
  pointer-events: none;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--background-additional);
  border-radius: 0 4px 4px 0;
}

.button-subscribe:hover,
.button-subscribe:focus-visible {
  background-color: var(--button-additional-hover);
}

.button-subscribe:active {
  color: var(--text-color-active);
  background-color: var(--button-additional-active);
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-submit,
.button-favourites {
  background-color: var(--background-additional);
}

.button-more,
.button-favourites {
  width: 140px;
  padding: 8px 18px;
}

.button-submit:hover,
.button-submit:focus-visible {
  background-color: var(--button-additional-hover);
}

.button-submit:active {
  color: var(--text-color-active);
  background-color: var(--button-additional-active);
}

.button-favourites:hover,
.button-favourites:focus-visible {
  background-color: var(--button-additional-hover);
}

.button-favourites:active {
  color: var(--text-color-active);
  background-color: var(--button-additional-active);
}


.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
  background-color: transparent;
}

.button-reset:focus-visible {
  background-color: transparent;
}

.button-reset:active {
  opacity: 0.3;
  background-color: transparent;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
  pointer-events: none;
}

.button-selected {
  width: 140px;
  padding: 8px 18px;
  background-color: var(--button-select);
}

.button-selected:hover,
.button-selected:focus-visible {
  background-color: var(--button-selected-hover);
}

.button-selected:active {
  color: var(--text-color-active);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--heading);
  text-transform: uppercase;
}

.title-small {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: var(--heading);
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  position: relative;
}

.page-header-logo {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-img {
  vertical-align: middle;
}

.navigation {
  position: relative;
  display: flex;
  padding-left: 168px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  gap: 8px 32px;
}

.navigation-item {
  height: 100%;
}

.navigation-link {
  position: relative;
  display: block;
  height: 100%;
  padding: 20px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--heading);
  text-decoration: none;
  text-align: center;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--underline);
}

.navigation-link:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--underline);
}

.navigation-link:active {
  color: var(--decorative-line);
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: auto;
}

.user-navigation .navigation-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.user-navigation .navigation-link:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--button-basic);
}

.user-navigation .navigation-link:active {
  opacity: 30%;
}

.navigation-link-search,
.navigation-link-favourites {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-link-search {
  background-image: url("../images/svg/search.svg");
}

.navigation-link-favourites {
  background-image: url("../images/svg/heart.svg");
}

.navigation-favourites-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-width: 20px;
  height: 20px;
  top: 13px;
  left: 20px;
  font-size: 10px;
  line-height: 10px;
  color: var(--background);
  background-color: var(--button-select);
  border-radius: 30vw;
}

.user-navigation .navigation-item:last-child {
  margin-left: auto;
}

.navigation-item .button {
  display: block;
  margin-top: 14px;
}

.hero {
  position: relative;
  color: var(--background);
  background-image: url("../images/background.jpg");
  background-color: var(--background-substitute);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/svg/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px;
}

.features {
  width: 1200px;
  padding-top: 69px;
}

.features-title {
  width: 51%;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}

.features-text {
  margin: 0;
  margin-bottom: 69px;
  color: var(--text-basic);
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features-item {
  display: flex;
  text-align: center;
}

.features-item:first-child,
.features-item:last-child {
  color: var(--text-additional);
  background-color: var(--background-additional);
}

.features-item:nth-child(3) {
  background-color: var(--background-block);
}

.features-item:first-child .features-item-title,
.features-item:last-child .features-item-title {
  color: inherit;
}

.features-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 102px 85px;
}

.features-item-title {
  position: relative;
  margin-bottom: 62px;
  text-align: center;
}

.features-item-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  background-color: var(--decorative-line);
  opacity: 30%;
}

.features-item:first-child .features-item-title::before,
.features-item:last-child .features-item-title::before {
  background-color: var(--background);
}

.features-item-description {
  margin: 0;
}

.features-item:last-child .features-item-img {
  order: -1;
}

.services {
  padding-top: 64px;
}

.services-slogan {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.services-text {
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  padding: 183px 85px 102px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: var(--background-block);
}

.services-item-title {
  position: relative;
  margin-bottom: 30px;
  color: var(--heading);
}

.services-item-title::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 72px;
  left: 50%;
  top: -102px;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: contain;
}

.services-item-title-housing::before {
  background-image: url("../images/svg/house.svg");
}

.services-item-title-food::before {
  background-image: url("../images/svg/burger.png");
}

.services-item-title-souvenirs::before {
  background-image: url("../images/svg/present.svg");
}

.services-item-text {
  margin: 0;
}

.search {
  padding: 96px 0;
  text-align: center;
}

.search-text {
  display: block;
  margin-bottom: 20px;
}

.search-description {
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe {
  padding: 96px 0 104px;
  color: var(--text-additional);
  background-image: url("../images/Subscribe.jpg");
  background-color: var(--background-additional);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-inner {
  color: var(--text-basic);
  background-color: var(--background);
  background-image: none;
}

.subscribe-title {
  margin-bottom: 20px;
  color: var(--text-additional);
}

.subscribe-inner .subscribe-title {
  color: var(--heading);
}

.subscribe-description {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-form {
  width: 685px;
  margin: 0 auto;
}

.subscribe-form-wrapper {
  display: flex;
  width: 100%;
}

.subscribe-form-input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-inner .subscribe-form-input {
  background-color: var(--buttons-neutral);
}

.subscribe-submit-button {
  margin-left: auto;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 30px;
}

.page-footer-socials {
  width: 190px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
}

.socials-item {
  width: 47px;
  height: 40px;
}

.socials-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--button-additional);
}

.socials-link:hover svg,
.socials-link:focus-visible svg {
  color: var(--button-additional-hover);
}

.socials-link:active svg {
  color: var(--button-additional-hover);
  opacity: 0.3;
}

.call-us-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--heading);
  text-decoration: none;
}

.call-us-phone:hover,
.call-us-phone:focus-visible {
  color: var(--button-basic);
}

.call-us-phone:active {
  color: var(--button-basic-hover);
  opacity: 0.3;
}

.copyright-link {
  width: 115px;
  color: var(--heading);
}

.copyright-link:hover svg,
.copyright-link:focus-visible svg {
  color: var(--button-basic);
}

.copyright-link:active svg {
  color: var(--button-basic-hover);
  opacity: 0.3;
}

.filter-wrapper {
  color: var(--text-additional);
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-color: var(--background-substitute);
  background-size: cover;
}

.header {
  padding: 35px 0 40px;
}

.header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  width: 100%;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 20px;
  bottom: 0;
  right: -19px;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--text-additional);
  text-decoration: none;
}

.breadcrumbs-link-current {
  cursor: default;
}

.filter {
  padding-bottom: 73px;
}

.form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.form-fieldset {
  width: 160px;
  margin-right: 60px;
  padding: 0;
  border: none;
}

.form-fieldset:nth-child(2) {
  margin-right: 120px;
}

.form-buttons-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 191px;
  margin-left: auto;
}

.form-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item label {
  padding-left: 16px;
  line-height: 23px;
}

.hotels {
  padding: 56px 0 60px;
}

.hotels-sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.hotels-sorting-result {
  width: 350px;
}

.hotels-sorting-select {
  width: 292px;
  padding: 14px 20px;
  margin-left: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hotels-sorting-view {
  margin-left: 70px;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
}

.sorting-view-item {
  width: 48px;
  height: 48px;
}

.sorting-view-link {
  display: block;
  height: 100%;
  color: var(--heading);
  border: 2px solid var(--card-border);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.sorting-view-link-current {
  border-color: var(--heading);
}

.sorting-view-link-grid {
  background-image: url("../images/svg/card-list.svg");
}

.sorting-view-link-cards {
  background-image: url("../images/svg/card-view.svg");
}

.sorting-view-link-list {
  background-image: url("../images/svg/description-list.svg");
}

.sorting-view-link:hover,
.sorting-view-active {
  border-color: var(--heading);
}

.sorting-view-link:focus-visible {
  outline: none;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.product-card {
  width: 340px;
  padding: 20px;
  border: 1px solid var(--card-border);
  border-radius: 4px;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img img" "title title" "table table";
  gap: 16px 20px;
}

.product-img {
  grid-area: img;
}

.product-title {
  margin: 0;
  grid-area: title;
  font-size: 24px;
  line-height: 28px;
  color: var(--heading);
}

.product-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: table;
  margin: 0;
}

.product-table dd {
  text-align: right;
}

.product-rating-text {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 8px 23px;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--buttons-neutral);
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  gap: 8px;
}

.pagination-item {
  display: none;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-additional);
  background-color: var(--background-additional);
  text-align: center;
  border-radius: 4px;
}

.pagination-item-active {
  display: flex;
}

.pagination-item-current {
  background-color: var(--buttons-neutral);
  color: var(--heading);
}

.pagination-item-inactive {
  color: var(--heading);
  background-color: var(--background);
}

.pagination-link {
  width: 100%;
  height: 100%;
  padding: 11px 0;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus-visible {
  background-color: var(--button-additional-hover);
}

.pagination-link[href]:active {
  color: var(--text-color-active);
  background-color: var(--button-additional-active);
}
