:root {
  --background: #ffffff;
  --text-basic: #333333;
  --heading: #000000;
  --button-basic: #756157;
  --button-additional: #81b3db;
  --buttons-neutral: #f2f2f2;
  --button-select: #7db54f;
  --background-additional: var(--button-additional);
  --background-substitute: #bbc6cf;
  --background-block: rgba(131, 179, 211, 0.12);
  --text-additional: var(--background);
  --card-border: #e5e5e5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-basic);
  background-color: var(--background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.button {
  padding: 9px 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--background);
  background-color: var(--button-basic);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--background-additional);
  border-radius: 0 4px 4px 0;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-submit,
.button-favourites {
  background-color: var(--background-additional);
}

.button-more,
.button-favourites {
  width: 140px;
  padding: 8px 18px;
}

.button-reset {
  background-color: transparent;
}

.button-selected {
  background-color: var(--button-select);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--heading);
  text-transform: uppercase;
}

.title-small {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: var(--heading);
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  margin-right: 30px;
}

.logo {
  vertical-align: middle;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--heading);
  text-decoration: none;
  text-align: center;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: auto;
}

.user-navigation .navigation-link {
  display: block;
  min-width: 18px;
  min-height: 18px;
}

.user-navigation .navigation-item:last-child {
  margin-left: auto;
}

.navigation-item .button {
  display: block;
  margin-top: 14px;
}

.hero {
  position: relative;
  color: var(--background);
  background-image: url("../images/background.jpg");
  background-color: var(--background-substitute);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/svg/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px;
}

.features {
  width: 1200px;
  padding-top: 69px;
}

.features-title {
  width: 51%;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}

.features-text {
  margin: 0;
  margin-bottom: 69px;
  color: var(--text-basic);
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features-item {
  display: flex;
  text-align: center;
}

.features-item:first-child,
.features-item:last-child {
  color: var(--text-additional);
  background-color: var(--background-additional);
}

.features-item:nth-child(3) {
  background-color: var(--background-block);
}

.features-item:first-child .features-item-title,
.features-item:last-child .features-item-title {
  color: inherit;
}

.features-item-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 102px 85px;
}

.features-item-title {
  margin-bottom: 62px;
  text-align: center;
}

.features-item-description {
  margin: 0;
}

.features-item:last-child .features-item-img {
  order: -1;
}

.services {
  padding-top: 64px;
}

.services-slogan {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.services-text {
  margin: 0;
  margin-bottom: 64px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  padding: 102px 85px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: var(--background-block);
}

.services-item-title {
  margin-bottom: 30px;
  color: var(--heading);
}

.services-item-text {
  margin: 0;
}

.search {
  padding: 96px 0;
  text-align: center;
}

.search-text {
  display: block;
  margin-bottom: 20px;
}

.search-description {
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe {
  padding: 96px 0 104px;
  color: var(--text-additional);
  background-image: url("../images/Subscribe.jpg");
  background-color: var(--background-additional);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-inner {
  color: var(--text-basic);
  background-color: var(--background);
  background-image: none;
}

.subscribe-title {
  margin-bottom: 20px;
  color: var(--text-additional);
}

.subscribe-inner .subscribe-title {
  color: var(--heading);
}

.subscribe-description {
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-inner .button-subscribe {
  background-color: var(--background-additional);
}

.subscribe-form {
  width: 685px;
  margin: 0 auto;
}

.subscribe-form-wrapper {
  display: flex;
  width: 100%;
}

.subscribe-form-input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-inner .subscribe-form-input {
  background-color: var(--buttons-neutral);
}

.subscribe-submit-button {
  margin-left: auto;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 30px;
}

.page-footer-socials {
  width: 190px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.socials-item {
  width: 47px;
  height: 40px;
}

.call-us-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--heading);
  text-decoration: none;
}

.copyright-link {
  width: 115px;
}

.filter-wrapper {
  color: var(--text-additional);
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-color: var(--background-substitute);
  background-size: cover;
}

.header {
  padding: 35px 0 40px;
}

.header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  width: 100%;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: var(--text-additional);
  text-decoration: none;
}

.filter {
  padding-bottom: 73px;
}

.form {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.form-fieldset {
  width: 160px;
  margin-right: 60px;
  padding: 0;
  border: none;
}

.form-fieldset:nth-child(2) {
  margin-right: 120px;
}

.form-buttons-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 191px;
  margin-left: auto;
}

.form-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item label {
  padding-left: 16px;
  line-height: 23px;
}

.hotels {
  padding: 56px 0 60px;
}

.hotels-sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.hotels-sorting-result {
  width: 350px;
}

.hotels-sorting-select {
  width: 292px;
  padding: 14px 20px;
  margin-left: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hotels-sorting-view {
  margin-left: 70px;
}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 20px;
  border: 1px solid var(--card-border);
  border-radius: 4px;
}

.product-card-img {
  margin-bottom: 16px;
  order: -2;
}

.product-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: var(--heading);
  order: -1;
}

.product-card-table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
}

.product-card-table dd {
  text-align: right;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-rating {
  display: flex;
  justify-content: space-between;
}

.product-card-rating svg {
  align-self: center;
}

.product-card-rating-text {
  margin: 0;
  padding: 8px 23px;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--buttons-neutral);
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-item {
  display: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-additional);
  background-color: var(--background-additional);
  text-align: center;
  border-radius: 4px;
}

.pagination-item-active {
  display: flex;
}

.pagination-item-current {
  background-color: var(--buttons-neutral);
  color: var(--heading);
}

.pagination-item-inactive {
  color: var(--heading);
  background-color: var(--background);
}

.pagination-link {
  width: 100%;
  height: 100%;
  padding: 11px 0;
  color: inherit;
  text-decoration: none;
}
